<br>
<br>
<div class="notification-container">
  <!-- Ring au-dessus -->
  <div class="notification-ring">
    <div class="ring-icon">
      <mat-icon>notifications</mat-icon>
      <span class="notification-badge">1</span>
    </div>
  </div>

  <h2>Notifications</h2>

  <p *ngIf="tasksToday.length === 0">Aucune tâche pour aujourd'hui ! 🎉</p>

  <div *ngIf="tasksToday.length > 0" class="task-list">
    <div class="task-item" *ngFor="let task of tasksToday">
      <div class="notification-icon">
        <mat-icon>notifications</mat-icon>
      </div>
      <div class="task-details">
        <h3>{{ task.title }}</h3>
        <p>{{ task.description }}</p>
        <p><strong>Date :</strong> {{ task.date }}</p>
      </div>
    </div>
  </div>
</div>
