mat-toolbar {
    background-color: #343a40;
    color: #ffffff;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  button.mat-button {
    color: #ffffff;
  }
  
  button.mat-icon-button {
    color: #ffffff;
  }
  
  mat-icon {
    font-size: 20px;
  }
  