<div class="sidebar-logo">
    <img src="image.png" alt="Logo" />
    <h2>Teacher Panel</h2>
  </div>
  
  <mat-nav-list>
    <a mat-list-item routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
    <a mat-list-item routerLink="/alert">
      <mat-icon>notifications</mat-icon>
      <span>Alert</span>
    </a>
    <a mat-list-item routerLink="/badges">
      <mat-icon>star</mat-icon>
      <span>Badges</span>
    </a>
    <a mat-list-item routerLink="/buttons">
      <mat-icon>touch_app</mat-icon>
      <span>Button</span>
    </a>
  </mat-nav-list>
  